<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Activation Email</title>
</head>
<body>
    <header>
        <h1>Welcome to XYZ</h1>
    </header>
    <main>
        <p>Hello <%= user.name %>,</p>
        <p>
            Thank you for registering with XYZ. To activate your account please use the following activation code: 
        </p>
        <h2><%= activationCode %></h2>
        <p>
            This code is only valid for 5 mins!
        </p>
    </main> 
    <footer>
        <p>
            If you have any questions, please don't hestitate to contact us at <a href="mailto:contact.harsht67@gmail.com">contact.harsht67@gmail.com</a>
        </p>
    </footer>
</body>
</html>